.prime-number {
  width: 100%;
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pr-card {
  width: 380px;
  flex-shrink: 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1rem;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: none;
  outline: 0;
  box-shadow: none;
}
